.react-header {
  height: 60px;
  color: white;
  background-color: #303F9F;
  padding: 10px;
  padding-left: 20px;
}

.container {
  border: none;
  display: flex;
  margin-top: 10%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.ui.celled.grid {
  margin-top: 4em;
  box-shadow: 0 0 0 0px;
}

.card-detail-header {
  background-color: antiquewhite;
}

.card-detail {
  margin-top: 3em;
  display: flex;
  flex-flow: column nowrap;
  margin: 3em auto auto auto;
}
.back-link {
  margin-left: 4px;
  border: 3 px solid red;
  font-size: 1.5em;
}
